---
layout: page-fullwidth
format: blog-index
header:
  image_fullwidth: 4880254551_9a35151a0d_b-banner.jpg
  caption: Creative Commons licensed photograph, "Underwood," by Flickr user Canned Muffins
  caption_url: https://flic.kr/p/8rfzDR
---
<!-- <div class="row">
	<div class="medium-8 columns t30"> -->
		{% include _pagination.html %}
	<!-- </div> --> <!-- /.medium-7.columns -->


	<!-- <div class="medium-4 columns t30">
		{% include _sidebar.html %}
	</div><!-- /.medium-5.columns --> -->
<!-- </div> --> <!-- /.row --> -->